/*.vertVid {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.vertVid iframe,
.vertVid object,
.vertVid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vertVidA {
    aspect-ratio: 16/9;
}

.vertVidA iframe {
    width: 100%;
    height: 100%;

}

.vertVidB {
    aspect-ratio: 16/9;
}

.vertVidB iframe {
    width: 100%;
    height: 100%;

} */
